In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_excel('data/euro_dollar.xls',sheet_name='euro-dollar') # \s+ regex for 1 or more whitespaced

In [3]:
#with open("data/Euro_dollar/Last/Prices/Euro_dollar5min.txt", "r") as file:
#    data = str(file.read())
#data.info()

In [37]:
data5=data[['Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30']]

In [38]:
data5.columns=data5.iloc[2]

In [39]:
data5=data5.drop([0,1,2],axis=0)

In [40]:
# convert Date column to pd.datetime
data5['Date']=pd.to_datetime(data5['Date'])

In [41]:
data5['Month']=data5['Date'].dt.month
data5['Day']=data5['Date'].dt.day
data5['Hour']=data5['Date'].dt.hour
data5['Min']=data5['Date'].dt.minute
data5['Weekday']=data5['Date'].dt.day_name()

In [45]:
#drop first entries to start with full day 
#data5

In [43]:
# identify idexes of first and last entries that belong to incomplete days
first_entries=data5[(data5.Month==12) & (data5.Day==9)].index
last_entries=data5[(data5.Month==6)&(data5.Day==24)].index

In [44]:
# delete them
data5=data5.loc[first_entries[-1]+1:last_entries[0]-1]

In [67]:
data5.groupby('Day')['Day'].count(),data5.groupby('Hour')['Min'].count()

(Day
 1     1153
 2     1185
 3     1188
 4     1466
 5     1416
 6      904
 7     1230
 8     1428
 9     1159
 10    1488
 11    1748
 12    1416
 13     948
 14    1530
 15    1716
 16    1465
 17    1488
 18    1745
 19    1404
 20     958
 21    1532
 22    1716
 23    1468
 24    1199
 25    1391
 26    1404
 27     892
 28    1235
 29    1140
 30     892
 31     902
 Name: Day, dtype: int64,
 Hour
 0     1667
 1     1669
 2     1668
 3     1668
 4     1668
 5     1668
 6     1668
 7     1668
 8     1668
 9     1668
 10    1668
 11    1667
 12    1668
 13    1668
 14    1668
 15    1666
 16    1663
 17    1656
 18    1656
 19    1676
 20    1873
 21    1969
 22    1959
 23    1669
 Name: Min, dtype: int64)

In [66]:
# split at each '\n' (new line)
input_data=data.split('\n')
# create numpy array (in order to change datatype to float)
input_data=np.array(input_data)
input_data=input_data.astype(np.float)
input_data=pd.DataFrame(input_data)

In [67]:
#create logs
log_data=np.log(input_data)

In [68]:
#create new column with lag_1 log_prices and delete first row
log_data['lag1']=log_data.shift()
log_data.drop(0,inplace=True)

In [76]:
#calculate log-returns
returns=log_data[0]-log_data['lag1']